/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Manrope:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #FFC700;
  --theme__color2: #301752;
  --theme__color3: #260A30;
  --manrope: 'Manrope', sans-serif;
  --birthstone: 'Birthstone', cursive;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: var(--theme__color2);
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--manrope);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1195px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 11px 0;
  background: var(--theme__color3);
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: block;
  width: 90px;
}
.header-logo img {

}
.main-menu {

}
.main-menu > ul {
  gap: 77px;
  display: flex;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  letter-spacing: 1.5px;
  font-size: 14px;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
} 
/* header-end */






/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--theme__color2);
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---hero-section--- */
.hero-section {
  background: url('images/hero-bg.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}
.hero-section__inner {
  min-height: 705px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content {
  text-align: center;
}
.hero-content .h1 {
  font-size: 105px;
  line-height: 0.91;
  font-weight: 400;
  font-family: var(--birthstone);
}
/* ---hero-section---end */



/* ----common---- */
.h2 {
  font-size: 59px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: var(--birthstone);
}
.p {
  font-size: 15px;
  margin-bottom: 22px;
  line-height: 1.8;
  color: #F8FAF9;
}
.p:last-child {
  margin-bottom: 0;
}
.p-ul {
  font-size: 15px;
  padding-left: 16px;
  line-height: 1.8;
  list-style: disc;
  color: #F8FAF9;
}
.p-ul li {
  padding-left: 4px;
}
.p-ul li::marker {
  font-size: 10px;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk__grp {
  margin-bottom: 33px;
}
.cont-blk__grp h4 {
  font-size: 15px;
  margin-bottom: 2px;
  color: var(--theme__color1);
  font-weight: 500;
}
.sec-title {
  margin-bottom: 34px;
}
/* ----common----end */



/* ---abt-section--- */
.abt-section {
  padding: 30px 0 50px;
}
.abt-section__inner {

}

.abt-rnd-row {
  display: flex;
  align-items: flex-end;
}
.abt-rnd__image {
  height: 690px;
  width: 690px;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}
.abt-rnd__image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.abt-rnd__image__logo {
  height: 322px;
  width: 322px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -190px;
}
.abt-rnd__image__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.abt-rnd__content {
  padding: 0 0 75px 69px;
}


.abt-rect-row {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.abt-rect__content {
  width: 31%;
}
.abt-rect__image {
  width: 64%;
}
.abt-rect__image .img {
  width: 100%;
}


.abt-sq-row {
  margin-top: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.abt-sq__image {
  width: 47.3%;
}
.abt-sq__image .img {

}
.abt-sq__content {
  width: 32%;
  margin-right: 9.4%;
}
/* ---abt-section---end */


/* ---passion-section--- */
.passion-section {
  padding: 70px 0 50px;
}
.passion-section__inner {

}

.passion-section__title {

}

.passion-r1 {
  --bs-gutter-x: 50px;
}
.passion-r1__content {

}
.paddion-r1__image {
  margin-left: 20px;
}
.passion-r1__image .img {

}

.passion-r2__content {
  margin-top: 60px;
}

.passion-r3 {
  margin-top: 110px;
  --bs-gutter-x: 34px;
}
.passion-r3__image {
  width: 100%;
}
.passion-r3__image .img {
  width: 100%;
}
/* ---passion-section---end */



/* ---prod-section--- */
.prod-section {
  padding: 70px 0 50px;
}
.prod-section__inner {

}
.prod-section__title {

}

.prod-row {

}
.prod__content {
  padding-right: 30px;
} 
.prod__image {
  margin-left: -45px;
}
.prod__image .img {
  width: 100%;
}


.prod-r2 {
  margin-top: 160px;
}
.prod-r2__image {
  margin-right: 80px;
}
.prod-r2__image .img {

}
.prod-r2__content {
  
}
.prod-r2__content p {
  letter-spacing: 0.5px;
  padding-right: 50px;
}
/* ---prod-section---end */



/* ---why-section--- */
.why-section {
  padding: 70px 0 50px;
}
.why-section__inner {

}
.why-section__title {
  padding-bottom: 40px;
}

.why-cards-row {
  --bs-gutter-x: 33px;
}
.why-card {

}
.why-card__image {
  border: 4px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.why-card__image .img {

}
.why-card__image__caption {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.why-card__image__caption h4 {
  font-size: 18.75px;
  margin-bottom: 0;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.why-card__image__caption h3 {
  margin-top: -10px;
  font-size: 44px;
  margin-bottom: 0;
  font-family: var(--birthstone);
}
.why-card__content {
  padding: 38px 22px 0;
}
.why-card__content p {
  font-size: 12.5px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 1px;
}
/* ---why-section---end */


/* ---gallery-section--- */
.gallery-section {
  padding: 50px 0 50px;
}
.gallery-section__inner {

}
.gallery-section__title {
  padding-bottom: 35px;
}

.gallery-nav {
  margin-bottom: 35px;
}
.gallery-nav ul {
  gap: 110px;
  display: flex;
  justify-content: center;
}
.gallery-nav ul li {

}
.gallery-nav ul li a {
  font-size: 25.5px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.gallery-nav ul li a.active {
  border-bottom-color: var(--theme__color1);
}

.gallery-row {
  --bs-gutter-x: 27px;
  --bs-gutter-y: var(--bs-gutter-x)
}
.gallery-item {
  width: 100%;
}
.gallery-item .img {
  width: 100%;
}
/* ---gallery-section---end */


/* ---testimonial-section--- */
.testimonial-section {
  padding: 70px 0 50px;
}
.testimonial-section__inner {

}
.testimonial-section__title {
  padding-bottom: 20px;
}

.testimonial-slider {

}
.testimonial-slider .owl-nav {
  width: calc(100% + 70px);
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
}
.testimonial-slide {

}
.testimonial-card {
  padding: 29px 19px;
  border-radius: 18px;
  background: linear-gradient(180deg, #5A4675 0%, #473265 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 3px;
}
.testimonial-card p {
  font-size: 13.5px;
  letter-spacing: 1px;
  line-height: 1.7;
}
.testimonial-card__mt {
  padding: 6px 0 3px;
}
.testimonial-card__mt h3 {
  font-size: 14.5px;
  margin-bottom: 14px;
  letter-spacing: 0.1px;
}
.testimonial-card__mt h4 {
  font-size: 13px;
  font-weight: 400;
}
.rating-ul {
  margin-bottom: 7px;
  gap: 7px;
  font-size: 19px;
  display: flex;
  display: flex;
}
.rating-ul li {
  color: #eee;
}
.rating-ul li.active {
  color: var(--theme__color1);
}

.slider-arrow-1 .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-arrow-1 .owl-nav button {
  height: 45px;
  width: 45px;
  font-size: 22px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background: #fff !important;
  color: #000 !important;
  transition: 0.3s;
}
.slider-arrow-1 .owl-nav button:hover {
  background: var(--theme__color1) !important;
}

.slider-dots-1 .owl-dots {
  gap: 11px;
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-dots-1 .owl-dot {
  height: 9px;
  width: 9px;
  display: block;
  background: #fff !important;
  border-radius: 50%;
  transition: 0.3s;
}
.slider-dots-1 .owl-dot.active {
  background: var(--theme__color1) !important;
  transform: scale(1.4);
  opacity: 0.7;
}
/* ---testimonial-section---end */



/* ---partner-section--- */
.partner-section {
  padding: 100px 0 50px;
}
.partner-section__inner {

}
.partner-section__title {
  padding-bottom: 40px;
}

.partners__row {

}
.partner-single {

}
.partner-single .img {
  width: 152px;
}
/* ---partner-section---end */


/* ---contact-section--- */
.contact-section {
  padding: 120px 0 110px;
}
.contact-section__inner {

}
.contact-section__row {
  --bs-gutter-x: 90px;
  align-items: center;
}
.contact__image {

}
.contact__image .img {

}

.contact__form {
  padding: 0 72px 0 10px;
}
.contact__form__title {
  margin-bottom: 55px;
}
.contact__form__title .h2 {
  margin-top: -20px;
}
.contact__form__main {

}
/* ---contact-section---end */


/* ---input-x--- */
.single-input-x {
  margin-bottom: 22px;
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
	min-height: 49px;
	padding: 6px 24px 7px;
	font-size: 19.5px;
	border-radius: 25px;
	width: 100%;
	border: 1px solid transparent;
}
.check-label-x {
  font-size: 13px;
  gap: 20px;
  display: flex;
  align-items: center;
}
.check-label-x .checkbox {
  
}
.input-x-submit {
  background: #CDB04D;
  transition: 0.3s;
}
.input-x-submit:hover {
  background: var(--theme__color1);
}
/* ---input-x---end */


/* ---footer-section--- */
.footer-section {
  padding: 20px 0;
  background: var(--theme__color3);
}
.footer-section__inner {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  width: 153px;
}
.footer-logo img {

}


.footer-menu {
  display: flex;
  gap: 70px;
}
.footer-menu li {

}
.footer-menu li a {
  font-size: 12px;
  transition: 0.3s;
}
.footer-menu li a:hover {
  color: var(--theme__color1);
}

.fx-menu {
  gap: 14px;
  display: flex;
}
.fx-menu li {

}
.fx-menu li a {
  font-size: 12px;
  transition: 0.3s;
  text-decoration: underline !important;
}
.fx-menu li a:hover {
  color: var(--theme__color1);
}

.fs-menu {
  display: flex;
  gap: 15px;
}
.fs-menu li {

}
.fs-menu li a {
  height: 26px;
  width: 26px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  color: var(--theme__color2);
}
.fs-menu li a:hover {

}
/* ---footer-section---end */